<!-- feature -->
<section class="section feature mb-0" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Các tính năng</h2>
        <p class="mb-100">Windou cung cấp 1 loạt
          các giải phát tiên tiến để hỗ
          trợ
          người dùng</p>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-ruler-pencil feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Phân loại rác thải tái chế bằng AI</h4>
            <p style=" text-align: justify;">Chụp ảnh vật liệu tái chế qua ứng
              dụng di động, hệ thống AI của
              chúng tôi sẽ tự động phân loại và đánh giá chất lượng.</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-layout-cta-left feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Kết nối người bán và người mua</h4>
            <p style=" text-align: justify;"> Người bán đăng thông tin về vật
              liệu tái chế đã được phân loại bằng AI, kết nối trực tiếp với
              doanh nghiệp tái chế để thu gom hiệu quả.</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-split-v-alt feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Chuyển Đổi Thành Tín Chỉ Carbon</h4>
            <p style=" text-align: justify;">Chuyển đổi rác thải tái chế thành
              tín chỉ carbon, khuyến khích
              tái chế và giảm lượng rác thải vào môi trường.</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-layers-alt feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Thưởng Điểm Đóng Góp Cộng Đồng</h4>
            <p style=" text-align: justify;">Nhận điểm khi tái chế hoặc mua tín
              dụng carbon, hỗ trợ các dự án cộng đồng và môi trường.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="feature-bg-1 up-down-animation"
    src="images/background-shape/feature-bg-1.png" alt="bg-shape">
  <img class="feature-bg-2 left-right-animation"
    src="images/background-shape/feature-bg-2.png" alt="bg-shape">
</section>
<!-- /feature -->