<!-- footer -->
<footer class="footer-section footer"
  style="background-image: url(images/backgrounds/footer-bg.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
        <!-- logo -->
        <a class="navbar-brand" href="index.html"
          style="font-weight: 600;">Windou</a>
      </div>
      <!-- footer menu -->
      <nav class="col-lg-8 align-self-center mb-5">
        <ul class="list-inline text-lg-right text-center footer-menu">
          <li class="list-inline-item active"><a href="index.html">Trang chủ</a></li>
          <li class="list-inline-item"><a class="page-scroll"
              href="index.html#feature">Tính năng</a></li>
          <li class="list-inline-item"><a href="about.html">Về chúng tôi</a></li>
          <li class="list-inline-item"><a class="page-scroll"
              href="index.html#team">Đội ngũ</a></li>
          <!-- <li class="list-inline-item"><a class="page-scroll"
              href="#pricing">Gói dịch vụ</a></li> -->
          <li class="list-inline-item"><a href="contact.html">Liên hệ</a></li>
        </ul>
      </nav>
      <!-- footer social icon -->
      <nav class="col-12">
        <ul class="list-inline text-lg-right text-center social-icon">
          <li class="list-inline-item">
            <a class="facebook"
              href="https://www.facebook.com/profile.php?id=61558387602529"><i
                class="ti-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="twitter" href="#"><i class="ti-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="linkedin" href="#"><i class="ti-linkedin"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="black"
              href="https://play.google.com/store/apps/details?id=com.windou.windou"><i
                class="ti-android"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
<!-- /footer -->