<!-- marketing -->
<section class="section-lg seo">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="seo-image">
          <img class="img-fluid" src="images/marketing/marketing.png"
            alt="form-img">
        </div>
      </div>
      <div class="col-md-5">
        <h2 style=" text-align: justify;" class="section-title">ĐỔI MỚI TRONG TÁI CHẾ VÀ SẢN XUẤT CÓ TRÁCH
          NHIỆM!</h2>
        <p style=" text-align: justify;">WINDOU là ứng dụng thông minh hướng đến
          việc thúc đẩy sự phát triển
          bền vững của ngành tái chế và thương mại hóa tín chỉ carbon toàn cầu.
          Sử dụng công nghệ AI và mạng lưới kết nối toàn cầu, WINDOU hướng tới
          việc giảm khoảng cách giữa sản xuất, tiêu thụ và tái chế, hướng đến
          một tương lai bền vững.
        </p>
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid seo-bg" src="images/backgrounds/seo-bg.png"
    alt="seo-bg">
  <!-- background-shape -->
  <img class="seo-bg-shape-1 left-right-animation"
    src="images/background-shape/seo-ball-1.png" alt="bg-shape">
  <img class="seo-bg-shape-2 up-down-animation"
    src="images/background-shape/seo-half-cycle.png" alt="bg-shape">
  <img class="seo-bg-shape-3 left-right-animation"
    src="images/background-shape/seo-ball-2.png" alt="bg-shape">
</section>
<!-- /marketing -->