<!-- service -->
<style>
  .service li {
      display: flex;
      align-items: center;
  }

  .service-list li i {
      margin-right: 10px;
  }
</style>
<section class="section-lg service">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 order-2 order-md-1">
        <h2 class="section-title">Powerful Layout From Top To Bottom</h2>
        <p style=" text-align: justify;" class="mb-4">Với thị trường tiềm năng
          trong kinh doanh bền vững gắn
          liền với sản xuất và tiêu dùng có trách nhiệm, WINDOU hứa hẹn sẽ trở
          thành cầu nối cho việc sử dụng, tái chế rác thải có trách nhiệm và
          khoa học trong tương lai. Ngoài ra, giải pháp của chúng tôi còn tác
          động tích cực đến nhận thức và khả năng phân loại rác thải có thể tái
          chế, đồng thời nâng cao tinh thần tiêu dùng có trách nhiệm của người
          dân toàn cầu, đặc biệt là thế hệ trẻ.
        </p>
        <ul class="pl-0 service-list">
          <li><p style="text-align: justify;"><i
                class="ti-layout-tab-window text-purple"></i>Nâng cao
              nhận
              thức
              và khả năng phân loại rác thải có thể tái chế.</p></li>
          <li>
            <p style="text-align: justify;">
              <i class="ti-layout-placeholder text-purple"></i>Tạo môi
              trường
              kết nối thông minh cho chuỗi cung ứng rác thải tái chế.</p>
          </li>
          <li><p style="text-align: justify;"><i
                class="ti-support text-purple"></i>Tạo môi trường trao đổi
              tín
              chỉ carbon và đóng góp cho các hoạt động cộng đồng.</p></li>
        </ul>
      </div>
      <div class="col-md-7 order-1 order-md-2">
        <img class="img-fluid layer-3" src="images/service/service.png"
          alt="service">
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid service-bg" src="images/backgrounds/service-bg.png"
    alt="service-bg">
  <!-- background shapes -->
  <img class="service-bg-shape-1 up-down-animation"
    src="images/background-shape/service-half-cycle.png" alt="background-shape">
  <img class="service-bg-shape-2 left-right-animation"
    src="images/background-shape/feature-bg-2.png" alt="background-shape">
</section>
<!-- /service -->