<!-- team -->
<section class="section-lg team" id="team">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Windou team</h2>
        <p  class="mb-100">Windou được hỗ trợ và
          đồng hành của đội ngũ chất
          lượng</p>
      </div>
    </div>
    <div class="col-10 mx-auto">
      <div class="team-slider">
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid" src="images/team/team-1.jpg"
                alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>Nguyễn Đình Phong</h4>
              <h6 class="text-color">Founder, Operations</h6>
            </div>
          </div>
          <p style=" text-align: justify;">
            Student at Vin University
          </p>
          <p style=" text-align: justify;">
            Founder of Scientific project of electric battery fire-fighting
            equipment containing lithium
          </p>
          <p style=" text-align: justify;">
            Top 1, Solana Customer Hack 11 by Super team vietnam - 2024
          </p>
        </div>
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid" src="images/team/team-3.jpg"
                alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>Trương Khánh Linh</h4>
              <h6 class="text-color">Designer</h6>
            </div>
          </div>
          <p style=" text-align: justify;">
            Student at Vin University
          </p>
          <p style=" text-align: justify;">
            Tech Lead of Google Developer Student Clubs in VinUniversity
          </p>
          <p style=" text-align: justify;">
            Top 1, Ideathon Web3 Space - 2023
          </p>
        </div>
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid"
                src="images/team/ManhHoDinhSpring.jpg" width="80" height="80"
                alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>Hồ Đình Mạnh</h4>
              <h6 class="text-color">Software Engineering</h6>
            </div>
          </div>
          <p style=" text-align: justify;">
            Software Engineering Student at University of Information
            Technology,
            VNU-HCM
          </p>
          <p style=" text-align: justify;">
            AI Researcher at UIT Together - AI research group
          </p>
          <p style=" text-align: justify;">
            Software Engineering at Danieli Group
          </p>
        </div>
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid" src="images/team/team-3.jpg"
                alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>Nguyễn Thùy Trang</h4>
              <h6 class="text-color">Marketing</h6>
            </div>
          </div>
          <p style=" text-align: justify;">
            Student at Foreign Trade University – FTU
          </p>
          <p style=" text-align: justify;">
            Lead of Human Resources and Marketing Carbon Credit trading floor
          </p>
          <p style=" text-align: justify;">
            Top 9 National Technology Startup Idea Competition - 2023
          </p>
        </div>
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid" src="images/team/team-2.jpg"
                alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>Hoàng Anh Minh</h4>
              <h6 class="text-color">AI Technology</h6>
            </div>
          </div>
          <p style=" text-align: justify;">
            Student at Vin University
          </p>
          <p style=" text-align: justify;"></p>
          <p style=" text-align: justify;">
            Software Engineer at IT VinUniversity
          </p>
          <p style=" text-align: justify;">
            Runner-up, Hanoi University of Science and Technology (HUST), AI
            challenge competition
          </p>
        </div>
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid" src="images/team/team-2.jpg"
                alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>Nguyễn Minh Khoa</h4>
              <h6 class="text-color">Business</h6>
            </div>
          </div>
          <p style=" text-align: justify;">
            Student at Vin University
          </p>
          <p style=" text-align: justify;"></p>
          <p style=" text-align: justify;">
            Founder EcoFunds - SolarAid Blockchain
          </p>
          <p style=" text-align: justify;">
            Initiative Top 2 National, CodeRace Competition by Bosch Vietnam -
            2023
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- backgound image -->
  <img src="images/backgrounds/team-bg.png" alt="team-bg"
    class="img-fluid team-bg">
  <!-- background shapes -->
  <img class="team-bg-shape-1 up-down-animation"
    src="images/background-shape/seo-ball-1.png" alt="background-shape">
  <img class="team-bg-shape-2 left-right-animation"
    src="images/background-shape/seo-ball-1.png" alt="background-shape">
  <img class="team-bg-shape-3 left-right-animation"
    src="images/background-shape/team-bg-triangle.png" alt="background-shape">
  <img class="team-bg-shape-4 up-down-animation img-fluid"
    src="images/background-shape/team-bg-dots.png" alt="background-shape">
</section>
<!-- /team -->